# Cloudinary Configuration
CLOUD_NAME=your_cloudinary_name_here
CLOUD_API_KEY=your_api_key_here
CLOUD_API_SECRET=your_api_secret_here

# Mapbox Configuration
MAP_TOKEN=your_mapbox_public_token_here

# Database Configuration
ATLASDB_URL=mongodb+srv://<username>:<password>@cluster.mongodb.net/myDatabase

# App Secret
SECRET=your_long_random_session_secret_here
